*{
    font-size: 10px;
    margin: 0;
}

h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2{
    display: flex;
    align-self: flex-start;
    font-size: 3rem;
    margin-bottom: 1rem;
}

p{
    font-size: 1.6rem;
    line-height: 2rem;
}

a{
    text-decoration: none;
    color: #000;
}

.price{
    height: 2rem;
}

.content{
    text-align: center;
    margin: 0 60rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #ddd;
}

.book{
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.add_to_cart_btn{
    display: block;
    width: 20rem;
    border: 0.2rem solid #000;
    border-radius: 1rem;
    background-color: #800080;
    cursor: pointer;

    margin: 1rem 0 4rem 0;

    line-height: 2rem;
    text-decoration: none;
    text-align: center;
    color: #FFFF00;
    padding: 1rem;
    font-size: 1.6rem;
}

.add_to_cart_btn:hover{
    background-color: #2d002d;
    transition: 0.5s;
}

.button_container{
    display: flex;
    justify-content: center;
}

.alert_success{
    width: calc(100% + 4rem);
    height: 10rem;
    background-color: #000;
    color: #fff;
    font-size: 3rem;
    transition: 0.5s;
    margin-bottom: 2rem;
}

.menu{
    display: flex;
    justify-content: flex-end;
}

.fa-cart-shopping{
    font-size: 3rem;
    cursor: pointer;
}

.fa-cart-shopping:hover{
    color: #aaa;
}

.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 1rem;

    border: 0.1rem solid #000;
    margin-bottom: 1rem;
}

.article{
    width:30rem;
}


.fa-trash{
    font-size: 3rem;
    cursor: pointer;
}

.order_btn{
    background-color: transparent;
    color: #000;
}

.order_btn:hover{
    background-color: #bbb;
}

.form-control{
    font-size: 1.6rem;
    color: #000;
    height: 2.5rem;
    width: 100%;
    margin-bottom: 2rem;
}

.center-block{
    display: block;
    margin: 1rem auto 0 auto;
    text-align: center;
}

label{
    font-size: 1.6rem;
}